<!--
    Speeddial parámetros :
    object-id : id del oBjeto
    object-equalizer : muestra botón configuraciones true/false

-->
<!--
ShowContextMenu parámetros'
    1.- event
    2.- id del objeto
    3.- Ocultar botón vista de table
    4.- Ocultar botón exportar excel
    5.- No tiene Menú de exploración
-->


<div id="page-nav">
    <div class="sc_menu clearfix">
        <div id="box_ListaMenu">
            <ul id="listaMenuContenidos" ng-include="'views/_Ventas/Quandox/_QuandoxMenu.html'"></ul>
        </div>
    </div>
</div>
<div id="box-current-selecctions">
    <div style="width: 100%;" current-selections="app" class="CurrentSelections"></div>
</div>
<div class="row-page row m-0 p-0" id="page-container">

    <div
        class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6 mzh-xl-15 mzh-lg-15 mzh-md-15 mzh-sm-15 mzh-xs-15 mzh-15 box_object">
        <div class="qlik-embed qlik-embed-kpi" data-qlik-objid="YJXtyn"></div>
    </div>
    <div
        class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6 mzh-xl-15 mzh-lg-15 mzh-md-15 mzh-sm-15 mzh-xs-15 mzh-15 box_object">
        <div class="qlik-embed qlik-embed-kpi" data-qlik-objid="aXzxpU"></div>
    </div>
    <div
        class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6 mzh-xl-15 mzh-lg-15 mzh-md-15 mzh-sm-15 mzh-xs-15 mzh-15 box_object">
        <div class="qlik-embed qlik-embed-kpi" data-qlik-objid="FJnwYp"></div>
    </div>
    <div
        class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6 mzh-xl-15 mzh-lg-15 mzh-md-15 mzh-sm-15 mzh-xs-15 mzh-15 box_object">
        <div class="qlik-embed qlik-embed-kpi" data-qlik-objid="011fd8f7-4f4c-433f-806d-b52443c4180a"></div>
    </div>
    <div
        class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6 mzh-xl-15 mzh-lg-15 mzh-md-15 mzh-sm-15 mzh-xs-15 mzh-15 box_object">
        <div class="qlik-embed qlik-embed-kpi" data-qlik-objid="dbcb60f1-3d48-4868-9405-dab120b50849"></div>
    </div>
    <div
        class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6 mzh-xl-15 mzh-lg-15 mzh-md-15 mzh-sm-15 mzh-xs-15 mzh-15 box_object">
        <div class="qlik-embed qlik-embed-kpi" data-qlik-objid="BgfNeJ"></div>
    </div>

    <!-- ── FILA 2 · 2 Gráficas de Dispersión · Altura 85% ──────────────── -->
    <div
        class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 mzh-xl-85 mzh-lg-85 mzh-md-50 mzh-sm-50 mzh-xs-50 mzh-85 box_object">
        <speeldial object-id="DispersionA" object-equalizer="true"></speeldial>
        <span class="options-responsive"><i class="lui-icon lui-icon--cogwheel"
                ng-click="ShowContextMenu($event,'DispersionA')"></i></span>
        <div class="qlik-embed" id="DispersionA" data-qlik-objid="phjbUpL"
            ng-right-click="ShowContextMenu($event,'DispersionA')"></div>
    </div>
    <div
        class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 mzh-xl-85 mzh-lg-85 mzh-md-50 mzh-sm-50 mzh-xs-50 mzh-85 box_object">
        <speeldial object-id="DispersionB" object-equalizer="true"></speeldial>
        <span class="options-responsive"><i class="lui-icon lui-icon--cogwheel"
                ng-click="ShowContextMenu($event,'DispersionB')"></i></span>
        <div class="qlik-embed" id="DispersionB" data-qlik-objid="mPXm"
            ng-right-click="ShowContextMenu($event,'DispersionB')"></div>
    </div>
    <!-- /FILA 2 Dispersión -->

</div>