<div class="em-item em-item-inner em-checkbox-component">
    <div class="value">
        <label class="lui-checkbox lui-checkbox--inverse">
            <input class="lui-checkbox__input" type="checkbox" ng-model="item.show" tid="value" ng-change="changeCapa(item)" aria-invalid="false">
            <div class="lui-checkbox__check-wrap">
                <span class="lui-checkbox__check"></span>
                <span class="lui-checkbox__check-text label" aria-disabled="false">{{'equalizer.label.mostrarcapa' | translate}}</span>
            </div>
        </label>
    </div>
</div>
<div class="em-item em-slider-component">
    <div class="label" ng-model="labelSlider">{{labelSlider}}</div>
    <div class="value">
        <div class="slider" id="slider-densityLayer-{{item.orden}}" ng-model="value"></div>
    </div>
</div>