<!--
    Speeddial parámetros :
    object-id : id del oBjeto
    object-equalizer : muestra botón configuraciones true/false

-->
<!--
ShowContextMenu parámetros'
    1.- event
    2.- id del objeto
    3.- Ocultar botón vista de table
    4.- Ocultar botón exportar excel
    5.- No tiene Menú de exploración
-->


<div id="page-nav">
    <div class="sc_menu clearfix">
        <div id="box_ListaMenu">
            <ul id="listaMenuContenidos" ng-include="'views/_Ventas/MarinosAviacion/_MarinosAviacionMenu.html'"></ul>
        </div>
    </div>
</div>
<div id="box-current-selecctions">
    <div style="width: 100%;" current-selections="app" class="CurrentSelections"></div>
</div>
<div class="row-page row m-0 p-0" id="page-container">
    <div class="mzh-xl-15 mzh-lg-15 mzh-md-100 mzh-sm-100 mzh-xs-150 mzh-20 box_object_kpi" ng-include="'views/_Ventas/MarinosAviacion/_MarinosAviacionKpi.html'"></div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mzh-xl-85 mzh-lg-85 mzh-md-100 mzh-sm-100 mzh-xs-150 mzh-85 m-0 p-0">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mzh-xl-50 mzh-lg-50 mzh-md-50 mzh-sm-50 mzh-xs-50 mzh-50 box_object">
            <speeldial object-id="02c80652-8957-4f13-bc04-afbe130690f3" object-equalizer="true"></speeldial>
            <span class="options-responsive"><i class="lui-icon lui-icon--cogwheel" ng-click="ShowContextMenu($event,'02c80652-8957-4f13-bc04-afbe130690f3')"></i></span>
            <div class="qlik-embed hasDataView" id="02c80652-8957-4f13-bc04-afbe130690f3" data-qlik-objid="02c80652-8957-4f13-bc04-afbe130690f3" ng-right-click="ShowContextMenu($event,'02c80652-8957-4f13-bc04-afbe130690f3')"></div>
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mzh-xl-50 mzh-lg-50 mzh-md-50 mzh-sm-50 mzh-xs-50 mzh-50 box_object">
            <speeldial object-id="e37d3e36-92b0-483d-931a-4644033ba457" object-equalizer="true"></speeldial>
            <span class="options-responsive"><i class="lui-icon lui-icon--cogwheel" ng-click="ShowContextMenu($event,'e37d3e36-92b0-483d-931a-4644033ba457')"></i></span>
            <div class="qlik-embed hasDataView" id="e37d3e36-92b0-483d-931a-4644033ba457" data-qlik-objid="e37d3e36-92b0-483d-931a-4644033ba457" ng-right-click="ShowContextMenu($event,'e37d3e36-92b0-483d-931a-4644033ba457')"></div>
        </div>

    </div>


</div>