<div class="row col-xl-12 col-12 m-0 p-0 mzh-100" ng-controller="kpiIncludeCtrl">
    <div class="mz-box-kpi col-xl-2 col-lg-4 col-md-4 col-sm-6 col-12 mzh-xl-100 mzh-lg-50 mzh-md-50 mzh-sm-33 mzh-xs-16">
        <div class="mz-box-kpi-inner">
            <div class="qlik-embed" id="4868f2bd-91a8-421d-b099-64b3658aff57" data-qlik-objid="4868f2bd-91a8-421d-b099-64b3658aff57"></div>
        </div>
    </div>
    <div class="mz-box-kpi col-xl-2 col-lg-4 col-md-4 col-sm-6 col-12 mzh-xl-100 mzh-lg-50 mzh-md-50 mzh-sm-33 mzh-xs-16">
        <div class="mz-box-kpi-inner">
            <div class="qlik-embed" id="2a3b389b-2440-4597-a647-efeb8c5e2a83" data-qlik-objid="2a3b389b-2440-4597-a647-efeb8c5e2a83"></div>
        </div>
    </div>
    <div class="mz-box-kpi col-xl-2 col-lg-4 col-md-4 col-sm-6 col-12 mzh-xl-100 mzh-lg-50 mzh-md-50 mzh-sm-33 mzh-xs-16">
        <div class="mz-box-kpi-inner">
            <div class="qlik-embed" id="7b75b0eb-7e19-4cc1-b25c-1cf7adedd6a9" data-qlik-objid="7b75b0eb-7e19-4cc1-b25c-1cf7adedd6a9"></div>
        </div>
    </div>
    <div class="mz-box-kpi col-xl-2 col-lg-4 col-md-4 col-sm-6 col-12 mzh-xl-100 mzh-lg-50 mzh-md-50 mzh-sm-33 mzh-xs-16">
        <div class="mz-box-kpi-inner">
            <div class="qlik-embed" id="d886774d-92fb-40de-bdee-803223c4559b" data-qlik-objid="d886774d-92fb-40de-bdee-803223c4559b"></div>
        </div>
    </div>
    <div class="mz-box-kpi col-xl-2 col-lg-4 col-md-4 col-sm-6 col-12 mzh-xl-100 mzh-lg-50 mzh-md-50 mzh-sm-33 mzh-xs-16">
        <div class="mz-box-kpi-inner">
            <div class="qlik-embed" id="18c948fd-7d13-4aec-8f77-7dabbb3021a7" data-qlik-objid="18c948fd-7d13-4aec-8f77-7dabbb3021a7"></div>
        </div>
    </div>
    <div class="mz-box-kpi col-xl-2 col-lg-4 col-md-4 col-sm-6 col-12 mzh-xl-100 mzh-lg-50 mzh-md-50 mzh-sm-33 mzh-xs-16">
        <div class="mz-box-kpi-inner">
            <div class="qlik-embed" id="407c8010-2b49-4993-b70f-b37383a09815" data-qlik-objid="407c8010-2b49-4993-b70f-b37383a09815"></div>
        </div>
    </div>
</div>