<!--
    Speeddial parámetros :
    object-id : id del oBjeto
    object-equalizer : muestra botón configuraciones true/false

-->
<!--
ShowContextMenu parámetros'
    1.- event
    2.- id del objeto
    3.- Ocultar botón vista de table
    4.- Ocultar botón exportar excel
    5.- No tiene Menú de exploración
-->


<div id="page-nav">
    <div class="sc_menu clearfix">
        <div id="box_ListaMenu">
            <ul id="listaMenuContenidos" ng-include="'views/_Ventas/Industriales/_IndustrialesMenu.html'"></ul>
        </div>
    </div>
</div>
<div id="box-current-selecctions">
    <div style="width: 100%;" current-selections="app" class="CurrentSelections"></div>
</div>
<div class="row-page row m-0 p-0" id="page-container">
    <div class="mzh-xl-15 mzh-lg-15 mzh-md-100 mzh-sm-100 mzh-xs-150 mzh-20 box_object_kpi" ng-include="'views/_Ventas/Industriales/_IndustrialesKpi.html'"></div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mzh-xl-45 mzh-lg-45 mzh-md-100 mzh-sm-100 mzh-xs-100 mzh-80 box_object">
        <speeldial object-id="feb19f69-aca9-490f-9fca-1b5e82297352" object-equalizer="true"></speeldial>
        <span class="options-responsive"><i class="lui-icon lui-icon--cogwheel" ng-click="ShowContextMenu($event,'feb19f69-aca9-490f-9fca-1b5e82297352')"></i></span>
        <div class="qlik-embed hasDataView" id="feb19f69-aca9-490f-9fca-1b5e82297352" data-qlik-objid="feb19f69-aca9-490f-9fca-1b5e82297352" ng-right-click="ShowContextMenu($event,'feb19f69-aca9-490f-9fca-1b5e82297352')"></div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 mzh-xl-40 mzh-lg-40 mzh-md-50 mzh-sm-50 mzh-xs-100 mzh-40 box_object">
        <speeldial object-id="237b2a44-ab69-48dc-aaf2-caca16f7a5d4" object-equalizer="true"></speeldial>
        <span class="options-responsive"><i class="lui-icon lui-icon--cogwheel" ng-click="ShowContextMenu($event,'237b2a44-ab69-48dc-aaf2-caca16f7a5d4')"></i></span>
        <div class="qlik-embed hasDataView" id="237b2a44-ab69-48dc-aaf2-caca16f7a5d4" data-qlik-objid="237b2a44-ab69-48dc-aaf2-caca16f7a5d4" ng-right-click="ShowContextMenu($event,'237b2a44-ab69-48dc-aaf2-caca16f7a5d4')"></div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 mzh-xl-40 mzh-lg-40 mzh-md-50 mzh-sm-50 mzh-xs-100 mzh-40 box_object">
        <speeldial object-id="b700a8c6-ac37-496e-90b6-2831b5ccdacd" object-equalizer="true"></speeldial>
        <span class="options-responsive"><i class="lui-icon lui-icon--cogwheel" ng-click="ShowContextMenu($event,'b700a8c6-ac37-496e-90b6-2831b5ccdacd')"></i></span>
        <div class="qlik-embed hasDataView" id="b700a8c6-ac37-496e-90b6-2831b5ccdacd" data-qlik-objid="b700a8c6-ac37-496e-90b6-2831b5ccdacd" ng-right-click="ShowContextMenu($event,'b700a8c6-ac37-496e-90b6-2831b5ccdacd')"></div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 mzh-xl-40 mzh-lg-40 mzh-md-50 mzh-sm-50 mzh-xs-100 mzh-40 box_object">
        <speeldial object-id="42955501-b59a-4078-985c-7e27b8a59d5b" object-equalizer="true"></speeldial>
        <span class="options-responsive"><i class="lui-icon lui-icon--cogwheel" ng-click="ShowContextMenu($event,'42955501-b59a-4078-985c-7e27b8a59d5b')"></i></span>
        <div class="qlik-embed hasDataView" id="42955501-b59a-4078-985c-7e27b8a59d5b" data-qlik-objid="42955501-b59a-4078-985c-7e27b8a59d5b" ng-right-click="ShowContextMenu($event,'42955501-b59a-4078-985c-7e27b8a59d5b')"></div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 mzh-xl-40 mzh-lg-40 mzh-md-50 mzh-sm-50 mzh-xs-100 mzh-40 box_object">
        <speeldial object-id="b6e46e46-a54e-440a-93d3-482d4505f194" object-equalizer="true"></speeldial>
        <span class="options-responsive"><i class="lui-icon lui-icon--cogwheel" ng-click="ShowContextMenu($event,'b6e46e46-a54e-440a-93d3-482d4505f194')"></i></span>
        <div class="qlik-embed hasDataView" id="b6e46e46-a54e-440a-93d3-482d4505f194" data-qlik-objid="b6e46e46-a54e-440a-93d3-482d4505f194" ng-right-click="ShowContextMenu($event,'b6e46e46-a54e-440a-93d3-482d4505f194')"></div>
    </div>


</div>