<li data-ui-sref-active="activo_fijo">
    <a data-ui-sref="App.Ventas.Dashboard" href="javascript:void(0)">
        <i class="icofont icofont-dashboard-web ico-14"></i>
        <span class="texto-enlaces">Dashboard</span>
    </a>
</li>
<li data-ui-sref-active="activo_fijo">
    <a data-ui-sref="App.Ventas.Analisis" href="javascript:void(0)">
        <i class="icofont icofont-chart-pie ico-14"></i>
        <span class="texto-enlaces">Análisis</span>
    </a>
</li>
<li data-ui-sref-active="activo_fijo">
    <a data-ui-sref="App.Ventas.Informe" href="javascript:void(0)">
        <i class="icofont icofont-papers ico-14"></i>
        <span class="texto-enlaces">Informe</span>
    </a>
</li>

<li data-ui-sref-active="activo_fijo">
    <a data-ui-sref="App.Ventas.KPIS" href="javascript:void(0)">
        <i class="icofont icofont-flag-alt-1 ico-14"></i>
        <span class="texto-enlaces">KPI</span>
    </a>
</li>
<li data-ui-sref-active="activo_fijo">
    <a data-ui-sref="App.Ventas.Reporting" href="javascript:void(0)">
        <i class="icofont icofont-calculations ico-14"></i>
        <span class="texto-enlaces">Reporting</span>
    </a>
</li>

