<li data-ui-sref-active="activo_fijo">
    <a data-ui-sref="App.Quandox.Dashboard.Dashboard" href="javascript:void(0)">
        <i class="icofont icofont-pixels ico-14"></i>
        <span class="texto-enlaces">Quandox</span>
    </a>
</li>
<li data-ui-sref-active="activo_fijo">
    <a data-ui-sref="App.InformeTitularidad.Dashboard.Dashboard" href="javascript:void(0)">
        <i class="icofont icofont-loop ico-14"></i>
        <span class="texto-enlaces">Informes Titularidad</span>
    </a>
</li>
<li data-ui-sref-active="activo_fijo">
    <a data-ui-sref="App.INE.Dashboard.Dashboard" href="javascript:void(0)">
        <i class="icofont icofont-automation ico-14"></i>
        <span class="texto-enlaces">INE</span>
    </a>
</li>
