<!--
    Speeddial parámetros :
    object-id : id del oBjeto
    object-equalizer : muestra botón configuraciones true/false

-->
<!--
ShowContextMenu parámetros'
    1.- event
    2.- id del objeto
    3.- Ocultar botón vista de table
    4.- Ocultar botón exportar excel
    5.- No tiene Menú de exploración
-->


<div id="page-nav">
    <div class="sc_menu clearfix">
        <div id="box_ListaMenu">
            <ul id="listaMenuContenidos" ng-include="'views/_Ventas/Quandox/_QuandoxMenu.html'"></ul>
        </div>
    </div>
</div>
<div id="box-current-selecctions">
    <div style="width: 100%;" current-selections="app" class="CurrentSelections"></div>
</div>
<div class="row-page row m-0 p-0" id="page-container">
    <!-- ── FILA 1 · 6 KPIs · Altura 15% ─────────────────────────────────
         Cada KPI ocupa 2/12 cols (16.67% del ancho)
    ─────────────────────────────────────────────────────────────────────── -->
    <div
        class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6 mzh-xl-15 mzh-lg-15 mzh-md-15 mzh-sm-15 mzh-xs-15 mzh-15 box_object">
        <div class="qlik-embed qlik-embed-kpi" data-qlik-objid="frdjNbJ"></div>
    </div>
    <div
        class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6 mzh-xl-15 mzh-lg-15 mzh-md-15 mzh-sm-15 mzh-xs-15 mzh-15 box_object">
        <div class="qlik-embed qlik-embed-kpi" data-qlik-objid="PxuDmVM"></div>
    </div>
    <div
        class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6 mzh-xl-15 mzh-lg-15 mzh-md-15 mzh-sm-15 mzh-xs-15 mzh-15 box_object">
        <div class="qlik-embed qlik-embed-kpi" data-qlik-objid="mjYjz"></div>
    </div>
    <div
        class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6 mzh-xl-15 mzh-lg-15 mzh-md-15 mzh-sm-15 mzh-xs-15 mzh-15 box_object">
        <div class="qlik-embed qlik-embed-kpi" data-qlik-objid="jJmJYp"></div>
    </div>
    <div
        class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6 mzh-xl-15 mzh-lg-15 mzh-md-15 mzh-sm-15 mzh-xs-15 mzh-15 box_object">
        <div class="qlik-embed qlik-embed-kpi" data-qlik-objid="YJaDy"></div>
    </div>
    <div
        class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6 mzh-xl-15 mzh-lg-15 mzh-md-15 mzh-sm-15 mzh-xs-15 mzh-15 box_object">
        <div class="qlik-embed qlik-embed-kpi" data-qlik-objid="pJjqCm"></div>
    </div>
    <!-- /FILA 1 KPIs -->

    <!-- ── FILA 2 · TABLA · 8/12 col · Altura 85% ───────────────────────
         objid="Qbhzb"
    ─────────────────────────────────────────────────────────────────────── -->
    <div
        class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 mzh-xl-85 mzh-lg-85 mzh-md-100 mzh-sm-100 mzh-xs-100 mzh-80 box_object">
        <speeldial object-id="WvbS" object-equalizer="true"></speeldial>
        <span class="options-responsive"><i class="lui-icon lui-icon--cogwheel"
                ng-click="ShowContextMenu($event,'WvbS')"></i></span>
        <div class="qlik-embed hasDataView" id="WvbS" data-qlik-objid="Qbhzb"
            ng-right-click="ShowContextMenu($event,'WvbS')"></div>
    </div>

    <!-- ── FILA 2 · GRÁFICA DE BARRAS · 4/12 col · Altura 85% ──────────
         objid="HnJP"
    ─────────────────────────────────────────────────────────────────────── -->
    <div
        class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 mzh-xl-85 mzh-lg-85 mzh-md-100 mzh-sm-100 mzh-xs-100 mzh-80 box_object">
        <speeldial object-id="HnJP" object-equalizer="true"></speeldial>
        <span class="options-responsive"><i class="lui-icon lui-icon--cogwheel"
                ng-click="ShowContextMenu($event,'HnJP')"></i></span>
        <div class="qlik-embed hasDataView" id="HnJP" data-qlik-objid="HnJP"
            ng-right-click="ShowContextMenu($event,'HnJP')"></div>
    </div>

</div>