<div class="row col-xl-12 col-12 m-0 p-0 mzh-100" ng-controller="kpiIncludeCtrl">
    <div class="mz-box-kpi col-xl-2 col-lg-4 col-md-4 col-sm-6 col-12 mzh-xl-100 mzh-lg-50 mzh-md-50 mzh-sm-33 mzh-xs-16">
        <div class="mz-box-kpi-inner">
            <div class="qlik-embed" id="GPKE" data-qlik-objid="GPKE"></div>
        </div>
    </div>
    <div class="mz-box-kpi col-xl-2 col-lg-4 col-md-4 col-sm-6 col-12 mzh-xl-100 mzh-lg-50 mzh-md-50 mzh-sm-33 mzh-xs-16">
        <div class="mz-box-kpi-inner">
            <div class="qlik-embed" id="MjKPK" data-qlik-objid="MjKPK"></div>
        </div>
    </div>
    <div class="mz-box-kpi col-xl-2 col-lg-4 col-md-4 col-sm-6 col-12 mzh-xl-100 mzh-lg-50 mzh-md-50 mzh-sm-33 mzh-xs-16">
        <div class="mz-box-kpi-inner">
            <div class="qlik-embed" id="efPfmj" data-qlik-objid="efPfmj"></div>
        </div>
    </div>
    <div class="mz-box-kpi col-xl-2 col-lg-4 col-md-4 col-sm-6 col-12 mzh-xl-100 mzh-lg-50 mzh-md-50 mzh-sm-33 mzh-xs-16">
        <div class="mz-box-kpi-inner">
            <div class="qlik-embed" id="nLVqSkr" data-qlik-objid="nLVqSkr"></div>
        </div>
    </div>
    <div class="mz-box-kpi col-xl-2 col-lg-4 col-md-4 col-sm-6 col-12 mzh-xl-100 mzh-lg-50 mzh-md-50 mzh-sm-33 mzh-xs-16">
        <div class="mz-box-kpi-inner">
            <div class="qlik-embed" id="XUjC" data-qlik-objid="XUjC"></div>
        </div>
    </div>
    <div class="mz-box-kpi col-xl-2 col-lg-4 col-md-4 col-sm-6 col-12 mzh-xl-100 mzh-lg-50 mzh-md-50 mzh-sm-33 mzh-xs-16">
        <div class="mz-box-kpi-inner">
            <div class="qlik-embed" id="TBQbTqg" data-qlik-objid="TBQbTqg"></div>
        </div>
    </div>
</div>