<!--
    Speeddial parámetros :
    object-id : id del oBjeto
    object-equalizer : muestra botón configuraciones true/false

-->
<!--
ShowContextMenu parámetros'
    1.- event
    2.- id del objeto
    3.- Ocultar botón vista de table
    4.- Ocultar botón exportar excel
    5.- No tiene Menú de exploración
-->


<div id="page-nav">
    <div class="sc_menu clearfix">
        <div id="box_ListaMenu">
            <ul id="listaMenuContenidos" ng-include="'views/_Ventas/INE/_INEMenu.html'"></ul>
        </div>
    </div>
</div>
<div id="box-current-selecctions">
    <div style="width: 100%;" current-selections="app" class="CurrentSelections"></div>
</div>
<div class="row-page row m-0 p-0" id="page-container">
    <div class="mzh-xl-15 mzh-lg-15 mzh-md-100 mzh-sm-100 mzh-xs-150 mzh-20 box_object_kpi" ng-include="'views/_Ventas/Automocion/_AutomocionKpi.html'"></div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mzh-xl-45 mzh-lg-45 mzh-md-100 mzh-sm-100 mzh-xs-100 mzh-80 box_object">
        <speeldial object-id="a632d6da-38cb-43e5-940b-847cf3df0761" object-equalizer="true"></speeldial>
        <span class="options-responsive"><i class="lui-icon lui-icon--cogwheel" ng-click="ShowContextMenu($event,'a632d6da-38cb-43e5-940b-847cf3df0761')"></i></span>
        <div class="qlik-embed hasDataView" id="a632d6da-38cb-43e5-940b-847cf3df0761" data-qlik-objid="a632d6da-38cb-43e5-940b-847cf3df0761" ng-right-click="ShowContextMenu($event,'a632d6da-38cb-43e5-940b-847cf3df0761')"></div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 mzh-xl-40 mzh-lg-40 mzh-md-50 mzh-sm-50 mzh-xs-100 mzh-40 box_object">
        <speeldial object-id="f13e2cd3-6bc0-4ece-a6aa-76d090226846" object-equalizer="true"></speeldial>
        <span class="options-responsive"><i class="lui-icon lui-icon--cogwheel" ng-click="ShowContextMenu($event,'f13e2cd3-6bc0-4ece-a6aa-76d090226846')"></i></span>
        <div class="qlik-embed hasDataView" id="f13e2cd3-6bc0-4ece-a6aa-76d090226846" data-qlik-objid="f13e2cd3-6bc0-4ece-a6aa-76d090226846" ng-right-click="ShowContextMenu($event,'f13e2cd3-6bc0-4ece-a6aa-76d090226846')"></div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 mzh-xl-40 mzh-lg-40 mzh-md-50 mzh-sm-50 mzh-xs-100 mzh-40 box_object">
        <speeldial object-id="fb5d4727-bed5-4756-abeb-2e1a2a524345" object-equalizer="true"></speeldial>
        <span class="options-responsive"><i class="lui-icon lui-icon--cogwheel" ng-click="ShowContextMenu($event,'fb5d4727-bed5-4756-abeb-2e1a2a524345')"></i></span>
        <div class="qlik-embed hasDataView" id="fb5d4727-bed5-4756-abeb-2e1a2a524345" data-qlik-objid="fb5d4727-bed5-4756-abeb-2e1a2a524345" ng-right-click="ShowContextMenu($event,'fb5d4727-bed5-4756-abeb-2e1a2a524345')"></div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 mzh-xl-40 mzh-lg-40 mzh-md-50 mzh-sm-50 mzh-xs-100 mzh-40 box_object">
        <speeldial object-id="ea7c69ba-bc2c-40aa-99c3-c60b20fdbda0" object-equalizer="true"></speeldial>
        <span class="options-responsive"><i class="lui-icon lui-icon--cogwheel" ng-click="ShowContextMenu($event,'ea7c69ba-bc2c-40aa-99c3-c60b20fdbda0')"></i></span>
        <div class="qlik-embed hasDataView" id="ea7c69ba-bc2c-40aa-99c3-c60b20fdbda0" data-qlik-objid="ea7c69ba-bc2c-40aa-99c3-c60b20fdbda0" ng-right-click="ShowContextMenu($event,'ea7c69ba-bc2c-40aa-99c3-c60b20fdbda0')"></div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 mzh-xl-40 mzh-lg-40 mzh-md-50 mzh-sm-50 mzh-xs-100 mzh-40 box_object">
        <speeldial object-id="f75c7cbf-edc8-4e9e-8975-be7053b6f38f" object-equalizer="true"></speeldial>
        <span class="options-responsive"><i class="lui-icon lui-icon--cogwheel" ng-click="ShowContextMenu($event,'f75c7cbf-edc8-4e9e-8975-be7053b6f38f')"></i></span>
        <div class="qlik-embed hasDataView" id="f75c7cbf-edc8-4e9e-8975-be7053b6f38f" data-qlik-objid="f75c7cbf-edc8-4e9e-8975-be7053b6f38f" ng-right-click="ShowContextMenu($event,'f75c7cbf-edc8-4e9e-8975-be7053b6f38f')"></div>
    </div>


</div>