<li data-ui-sref-active="activo_fijo">
    <a data-ui-sref="App.Quandox.Dashboard.Dashboard" href="javascript:void(0)">
        <i class="icofont icofont-dashboard-web ico-14"></i>
        <span class="texto-enlaces">Dashboard</span>
    </a>
</li>

<li data-ui-sref-active="{'activo_fijo': 'App.Quandox.Analisis.**'}" class="">
    <a class="no-link" href="javascript:void(0)">
        <i class="icofont icofont-search-2 ico-14"></i>
        <span class="texto-enlaces">Análisis</span>
        <i class="icofont icofont-caret-down ico-moreMenu"></i>
    </a>
    <ul class="subMenuVistas">
        <li data-ui-sref-active="activo_fijo">
            <a data-ui-sref="App.Quandox.Analisis.Distribucion" href="javascript:void(0)">Distribución</a>
        </li>
        <li data-ui-sref-active="activo_fijo">
            <a data-ui-sref="App.Quandox.Analisis.EvolucionIndicadores" href="javascript:void(0)">Evolución de Indicadores</a>
        </li>
        <li data-ui-sref-active="activo_fijo">
            <a data-ui-sref="App.Quandox.Analisis.Ranking" href="javascript:void(0)">Ranking</a>
        </li>
        <li data-ui-sref-active="activo_fijo">
            <a data-ui-sref="App.Quandox.Analisis.Resumen" href="javascript:void(0)">Resumen</a>
        </li>
        <li data-ui-sref-active="activo_fijo">
            <a data-ui-sref="App.Quandox.Analisis.Tendencia" href="javascript:void(0)">Tendencia</a>
        </li>
        <li data-ui-sref-active="activo_fijo">
            <a data-ui-sref="App.Quandox.Analisis.Estacionalidad" href="javascript:void(0)">Estacionalidad</a>
        </li>
        <li data-ui-sref-active="activo_fijo">
            <a data-ui-sref="App.Quandox.Analisis.DispersionComparativa" href="javascript:void(0)">Dispersión Comparativa</a>
        </li>
        <li data-ui-sref-active="activo_fijo">
            <a data-ui-sref="App.Quandox.Analisis.Detalle" href="javascript:void(0)">Detalle</a>
        </li>
    </ul>
</li>


<li data-ui-sref-active="activo_fijo">
    <a data-ui-sref="App.Quandox.Reporting.Reporting" href="javascript:void(0)">
        <i class="icofont icofont-paper ico-14"></i>
        <span class="texto-enlaces">Reporting</span>
    </a>
</li>


<li data-ui-sref-active="activo_fijo">
    <a data-ui-sref="App.Quandox.Kpis.Kpis" href="javascript:void(0)">
        <i class="icofont icofont-chart-flow ico-14"></i>
        <span class="texto-enlaces">KPIS</span>
    </a>
</li>

<li data-ui-sref-active="activo_fijo">
    <a data-ui-sref="App.Quandox.Mapa.Mapa" href="javascript:void(0)">
        <i class="icofont icofont-map ico-14"></i>
        <span class="texto-enlaces">Mapa</span>
    </a>
</li>
