<!--
    Speeddial parámetros :
    object-id : id del oBjeto
    object-equalizer : muestra botón configuraciones true/false

-->
<!--
ShowContextMenu parámetros'
    1.- event
    2.- id del objeto
    3.- Ocultar botón vista de table
    4.- Ocultar botón exportar excel
    5.- No tiene Menú de exploración
-->


<div id="page-nav">
    <div class="sc_menu clearfix">
        <div id="box_ListaMenu">
            <ul id="listaMenuContenidos" ng-include="'views/_Ventas/Grasas/_GrasasMenu.html'"></ul>
        </div>
    </div>
</div>
<div id="box-current-selecctions">
    <div style="width: 100%;" current-selections="app" class="CurrentSelections"></div>
</div>
<div class="row-page row m-0 p-0" id="page-container">
    <div class="mzh-xl-15 mzh-lg-15 mzh-md-100 mzh-sm-100 mzh-xs-150 mzh-20 box_object_kpi" ng-include="'views/_Ventas/Grasas/_GrasasKpi.html'"></div>

    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 mzh-xl-85 mzh-lg-85 mzh-md-100 mzh-sm-100 mzh-xs-100 mzh-80 box_object">
        <speeldial object-id="3c6b2134-d52a-49b5-8b4e-ba2f9540e937" object-equalizer="true"></speeldial>
        <span class="options-responsive"><i class="lui-icon lui-icon--cogwheel" ng-click="ShowContextMenu($event,'3c6b2134-d52a-49b5-8b4e-ba2f9540e937')"></i></span>
        <div class="qlik-embed hasDataView" id="3c6b2134-d52a-49b5-8b4e-ba2f9540e937" data-qlik-objid="3c6b2134-d52a-49b5-8b4e-ba2f9540e937" ng-right-click="ShowContextMenu($event,'3c6b2134-d52a-49b5-8b4e-ba2f9540e937')"></div>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 mzh-xl-85 mzh-lg-85 mzh-md-100 mzh-sm-100 mzh-xs-100 mzh-80 box_object">
        <speeldial object-id="2e95c92c-3f4e-4b0b-9d6c-b9f736a8d199" object-equalizer="true"></speeldial>
        <span class="options-responsive"><i class="lui-icon lui-icon--cogwheel" ng-click="ShowContextMenu($event,'2e95c92c-3f4e-4b0b-9d6c-b9f736a8d199')"></i></span>
        <div class="qlik-embed hasDataView" id="2e95c92c-3f4e-4b0b-9d6c-b9f736a8d199" data-qlik-objid="2e95c92c-3f4e-4b0b-9d6c-b9f736a8d199" ng-right-click="ShowContextMenu($event,'2e95c92c-3f4e-4b0b-9d6c-b9f736a8d199')"></div>
    </div>


</div>