<li data-ui-sref-active="activo_fijo" class="activo_fijo">
    <a data-ui-sref="App.Ventas.Dashboard" href="javascript:void(0)">
        <i class="icofont icofont-dashboard-web ico-14"></i>
        <span class="texto-enlaces">Dashboard</span>
    </a>
</li>
<li data-ui-sref-active="activo_fijo">
    <a data-ui-sref="App.Organizacion.Analisis" href="javascript:void(0)">
        <i class="icofont icofont-chart-histogram-alt ico-14"></i>
        <span class="texto-enlaces"> Analisis</span>
    </a>
</li>
<li data-ui-sref-active="activo_fijo">
    <a data-ui-sref="App.Organizacion.Detalle" href="javascript:void(0)">
        <i class="icofont icofont-search-alt-1 ico-14"></i>
        <span class="texto-enlaces"> Detalle</span>
    </a>
</li>
<li data-ui-sref-active="activo_fijo" class="">
    <a data-ui-sref="App.Organizacion.Kpi" href="javascript:void(0)">
        <i class="icofont icofont-chart-line ico-14"></i>
        <span class="texto-enlaces"> KPIs</span>
    </a>
</li>
<li data-ui-sref-active="{'activo_fijo': 'App.Organizacion.Mapa.**'}" class="">
    <a class="no-link" href="javascript:void(0)">
        <i class="icofont icofont-map ico-14"></i>
        <span class="texto-enlaces">Mapas</span>
        <i class="icofont icofont-caret-down ico-moreMenu"></i>
    </a>
    <ul class="subMenuVistas">
        <li data-ui-sref-active="activo_fijo">
            <a data-ui-sref="App.Organizacion.Mapa.SuperficieMedia" href="javascript:void(0)">Superficie Media de Viñedo</a>
        </li>
        <li data-ui-sref-active="activo_fijo">
            <a data-ui-sref="App.Organizacion.Mapa.ProduccionMedia" href="javascript:void(0)">Producción Media de Vino</a>
        </li>
        <li data-ui-sref-active="activo_fijo">
            <a data-ui-sref="App.Organizacion.Mapa.ConsumoMedio" href="javascript:void(0)">Consumo Medio Per Cápita</a>
        </li>
        <li data-ui-sref-active="activo_fijo">
            <a data-ui-sref="App.Organizacion.Mapa.Exportaciones" href="javascript:void(0)">Exportaciones</a>
        </li>
    </ul>
</li>


<!--<li data-ui-sref-active="activo_fijo">
    <a data-ui-sref="App.Anuario.Analisis" href="javascript:void(0)">
        <i class="icofont icofont-chart-histogram-alt ico-14"></i>
        <span class="texto-enlaces"> Analisis</span>
    </a>
</li>
<li data-ui-sref-active="activo_fijo">
    <a data-ui-sref="App.Anuario.Dispersion" href="javascript:void(0)">
        <i class="icofont icofont-pixels ico-14"></i>
        <span class="texto-enlaces"> Dispersion</span>
    </a>
</li>
<li data-ui-sref-active="activo_fijo">
    <a data-ui-sref="App.Anuario.Mapa" href="javascript:void(0)">
        <i class="icofont icofont-map ico-14"></i>
        <span class="texto-enlaces"> Mapa</span>
    </a>
</li>
<li data-ui-sref-active="activo_fijo">
    <a data-ui-sref="App.Anuario.Reporting" href="javascript:void(0)">
        <i class="icofont icofont-box ico-14"></i>
        <span class="texto-enlaces"> Reporting</span>
    </a>
</li>-->
