<!--
    Speeddial parámetros :
    object-id : id del oBjeto
    object-equalizer : muestra botón configuraciones true/false

-->
<!--
ShowContextMenu parámetros'
    1.- event
    2.- id del objeto
-->


<div id="page-nav">
    <div class="sc_menu clearfix">
        <div id="box_ListaMenu">
            <ul id="listaMenuContenidos" ng-include="'views/Ventas/_menuEjemplo.html'"></ul>
        </div>
    </div>
</div>
<div id="box-current-selecctions">
    <div style="width: 100%;" current-selections="app" class="CurrentSelections"></div>
</div>
<div class="row-page row m-0 p-0" id="page-container">


    <!--Boxplot-->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mzh-xl-100 mzh-100 box_object">
        <speeldial object-id="zDpsJ"></speeldial>
        <span class="options-responsive"><i class="lui-icon lui-icon--cogwheel" ng-click="ShowContextMenu($event,'zDpsJ')"></i></span>
        <div class="qlik-embed hasDataView" id="zDpsJ" data-qlik-objid="zDpsJ" ng-right-click="ShowContextMenu($event,'zDpsJ')"></div>
    </div>
    <!-- Mapa -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mzh-xl-100 mzh-100 box_object">
        <speeldial object-id="PMTjKD"></speeldial>
        <span class="options-responsive"><i class="lui-icon lui-icon--cogwheel" ng-click="ShowContextMenu($event,'PMTjKD')"></i></span>
        <div class="qlik-embed" id="PMTjKD" data-qlik-objid="PMTjKD" ng-right-click="ShowContextMenu($event,'PMTjKD')"></div>
    </div>
    <!-- Distributionplot-->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mzh-xl-100 mzh-100 box_object">
        <speeldial object-id="kQQYJk"></speeldial>
        <span class="options-responsive"><i class="lui-icon lui-icon--cogwheel" ng-click="ShowContextMenu($event,'kQQYJk')"></i></span>
        <div class="qlik-embed hasDataView" id="kQQYJk" data-qlik-objid="kQQYJk" ng-right-click="ShowContextMenu($event,'kQQYJk')"></div>
    </div>
    <!-- Combochart -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mzh-xl-100 mzh-100 box_object">
        <speeldial object-id="etksem"></speeldial>
        <span class="options-responsive"><i class="lui-icon lui-icon--cogwheel" ng-click="ShowContextMenu($event,'etksem')"></i></span>
        <div class="qlik-embed hasDataView" id="etksem" data-qlik-objid="etksem" ng-right-click="ShowContextMenu($event,'etksem')"></div>
    </div>
    <!-- Barchart -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mzh-xl-100 mzh-100 box_object">
        <speeldial object-id="NRpkTM"></speeldial>
        <span class="options-responsive"><i class="lui-icon lui-icon--cogwheel" ng-click="ShowContextMenu($event,'NRpkTM')"></i></span>
        <div class="qlik-embed hasDataView" id="NRpkTM" data-qlik-objid="NRpkTM" ng-right-click="ShowContextMenu($event,'NRpkTM')"></div>
    </div>
    <!-- Treemap-->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mzh-xl-100 mzh-100 box_object">
        <speeldial object-id="xmGnk"></speeldial>
        <span class="options-responsive"><i class="lui-icon lui-icon--cogwheel" ng-click="ShowContextMenu($event,'xmGnk')"></i></span>
        <div class="qlik-embed hasDataView" id="xmGnk" data-qlik-objid="xmGnk" ng-right-click="ShowContextMenu($event,'xmGnk')"></div>
    </div>
    <!-- Scatterplot-->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mzh-xl-100 mzh-100 box_object">
        <speeldial object-id="fHPTSpu"></speeldial>
        <span class="options-responsive"><i class="lui-icon lui-icon--cogwheel" ng-click="ShowContextMenu($event,'fHPTSpu')"></i></span>
        <div class="qlik-embed hasDataView" id="fHPTSpu" data-qlik-objid="fHPTSpu" ng-right-click="ShowContextMenu($event,'fHPTSpu')"></div>
    </div>
    <!-- Linechart-->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mzh-xl-100 mzh-100 box_object">
        <speeldial object-id="HGJfTF"></speeldial>
        <span class="options-responsive"><i class="lui-icon lui-icon--cogwheel" ng-click="ShowContextMenu($event,'HGJfTF')"></i></span>
        <div class="qlik-embed hasDataView" id="HGJfTF" data-qlik-objid="HGJfTF" ng-right-click="ShowContextMenu($event,'HGJfTF')"></div>
    </div>
    <!-- Piechart-->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mzh-xl-100 mzh-100 box_object">
        <speeldial object-id="jBeYasg"></speeldial>
        <span class="options-responsive"><i class="lui-icon lui-icon--cogwheel" ng-click="ShowContextMenu($event,'jBeYasg')"></i></span>
        <div class="qlik-embed hasDataView" id="jBeYasg" data-qlik-objid="jBeYasg" ng-right-click="ShowContextMenu($event,'jBeYasg')"></div>
    </div>
    <!-- Tabla-->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mzh-xl-100 mzh-100 box_object">
        <speeldial object-id="KvppLy" object-equalizer="true"></speeldial>
        <span class="options-responsive"><i class="lui-icon lui-icon--cogwheel" ng-click="ShowContextMenu($event,'KvppLy')"></i></span>
        <div class="qlik-embed" id="KvppLy" data-qlik-objid="KvppLy" ng-right-click="ShowContextMenu($event,'KvppLy')"></div>
    </div>
    <!-- Tabla pivotante-->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mzh-xl-100 mzh-100 box_object">
        <speeldial object-id="ZbTtR" object-equalizer="true"></speeldial>
        <span class="options-responsive"><i class="lui-icon lui-icon--cogwheel" ng-click="ShowContextMenu($event,'ZbTtR')"></i></span>
        <div class="qlik-embed" id="ZbTtR" data-qlik-objid="ZbTtR" ng-right-click="ShowContextMenu($event,'ZbTtR')"></div>
    </div>
    <!-- histogram-->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mzh-xl-100 mzh-100 box_object">
        <speeldial object-id="kJqZe"></speeldial>
        <span class="options-responsive"><i class="lui-icon lui-icon--cogwheel" ng-click="ShowContextMenu($event,'kJqZe')"></i></span>
        <div class="qlik-embed hasDataView" id="kJqZe" data-qlik-objid="kJqZe" ng-right-click="ShowContextMenu($event,'kJqZe')"></div>
    </div>
    <!-- Mekko-->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mzh-xl-100 mzh-100 box_object">
        <speeldial object-id="pkAjNfE" object-equalizer="false"></speeldial>
        <span class="options-responsive"><i class="lui-icon lui-icon--cogwheel" ng-click="ShowContextMenu($event,'pkAjNfE')"></i></span>
        <div class="qlik-embed hasDataView" id="pkAjNfE" data-qlik-objid="pkAjNfE" ng-right-click="ShowContextMenu($event,'pkAjNfE')"></div>
    </div>
    <!-- Genaro-->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mzh-xl-100 mzh-100 box_object">
        <speeldial object-id="Mkrsh" object-equalizer="false"></speeldial>
        <div class="qlik-embed mz-genaro-box" id="Mkrsh" data-qlik-objid="Mkrsh"></div>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mzh-xl-100 mzh-lg-100 mzh-md-100 mzh-sm-100 mzh-xs-100 mzh-100 box_object box_mix_object">
        <speeldial object-id="zdpJb"></speeldial>
        <span class="options-responsive"><i class="lui-icon lui-icon--cogwheel" ng-click="ShowContextMenu($event,'zdpJb')"></i></span>
        <div class="box_mix">
            <div class="box_object_inner_kpi mzh-xl-30 mzh-lg-30 mzh-md-30 mzh-sm-30 mzh-xs-30 mzh-30">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12 mzh-xl-100 mzh-lg-100 mzh-md-100 mzh-sm-100 mzh-xs-100 mzh-100 item-inner-kpi">
                    <div class="qlik-embed" data-qlik-objid="WdbKQF"></div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12 mzh-xl-100 mzh-lg-100 mzh-md-100 mzh-sm-100 mzh-xs-100 mzh-100 item-inner-kpi">
                    <div class="qlik-embed" data-qlik-objid="WdbKQF"></div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12 mzh-xl-100 mzh-lg-100 mzh-md-100 mzh-sm-100 mzh-xs-100 mzh-100 item-inner-kpi">
                    <div class="qlik-embed" data-qlik-objid="WdbKQF"></div>
                </div>
            </div>
            <div class="box_object_inner_grafico mzh-xl-70 mzh-lg-70 mzh-md-70 mzh-sm-70 mzh-xs-70 mzh-70">
                <div class="qlik-embed hasDataView" id="zdpJb" data-qlik-objid="zdpJb" ng-right-click="ShowContextMenu($event,'zdpJb')"></div>
            </div>
        </div>
    </div>
</div>